<?xml version="1.0"?>
<model>
  <name>holybro_x500_dual</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Ricardo Rosales</name>
  </author>

  <description>
    Model of the Holybro X500 v2. Modified version of the holybro x500, model provided by Hannibal Paul
  </description>
</model>
